@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
:root {
  --primary-color: #fff;
  --background-color: rgb(253, 253, 253);
  --font-color: rgb(0, 0, 0);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.card {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background-color);
}
img {
  width: 100%;
}
button {
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100%;
}
/* Header */
.header .card {
  padding: 20px 0;
}
.header h1 {
  font-size: 25px;
  font-weight: bolder;
}

/* Search */
.search {
  margin: 30px 0;
}

.search input {
  border-left: 0px;
}
.input-group {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.input-group-text {
  background-color: var(--primary-color);
  border-right: 0px;
}
.search .flex {
  justify-content: space-between;
}
.input-group {
  width: 400px;
}
/* dropdown */
.dropdown .btn {
  text-align: left;
  background-color: var(--primary-color) !important;
  color: var(--font-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Countries */
.card-img-top {
  height: 100%;
  width: 100%;
}
.countries .card {
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.countries .card:hover {
  transform: translateY(-10px);
}
.countries .grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.countries .container .grid .card {
  width: 250px;
}
.card-body h4 {
  font-weight: bolder;
}
.card-body p {
  margin: 0;
}
